html {
    width: 100%;
    height: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    background-color: initial!important;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: PingFangSC-Regular,Microsoft YaHei,SimSun,Arial,Helvetica,Verdana,sans-serif!important;
    color: #333;
    font-size: 12px;
    background-color: initial;
    overflow: hidden;
}
.lr-layout {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
}
.lr-layout.lr-layout-left-center {
    padding-left: 203px;
}

/*树菜单*/
.lr-layout-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 203px;
    height: 100%;
    padding: 10px 0 10px 10px;
}
.lr-layout-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 32px;
    border-radius: 3px;
    -webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.lr-layout-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    line-height: 32px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    padding-left: 9px;
    font-size: 12px;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    user-select: text;
}
.lr-layout-body {
    position: relative;
    width: 100%;
    height: 100%;
}
.lr-layout-center {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.lr-layout-center .lr-layout-wrap {
    padding-top: 87px;
}
.lr-layout-tool {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #ccc;
    z-index: 3;
}
.lr-layout-tool-left {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
}
.lr-layout-tool-left .lr-layout-tool-item {
    position: relative;
    float: left;
    padding-top: 13px;
    padding-left: 5px
}

.lr-layout-tool-right {
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
    padding-top: 12px
}
.lr-layout-tool-left .btn {
    position: relative;
    display: inline-block;
    height: 28px;
    margin-bottom: 1px;
    line-height: 14px;
}
.btn-primary {
    color: #fff;
    background-color: #3286ed;
    border-color: #3286ed;
}
.lr-layout-tool-left .lr-layout-tool-item>.form-control {
    border-radius: 4px;
    display: inline-block;
    width: 200px;
    height: 27px;
    font-size: 12px;
}
.nodataDiv{
    width: 100%;
    text-align: center;
    /*display: none;*/
 }